<%= form_for(@post) do |f| %>
  <label for="post_title">Title:</label><%= f.text_field :title, class: "form-control form-text" %>
  <label for="post_caption">Caption:</label><%= f.text_area :caption, class: "form-control form-textarea", rows: 20, cols: 40 %>
  <label for="post_collection_id">Collection</label><%= f.select :collection_id, options_for_select(@options_array), {}, {class: "form-control form-text"} %>
  <label for="post_photo">Image:</label><%= f.file_field :photo, class: "form-image" %>
  <%= f.button :Submit, type: "submit", value: "Submit", class: "form-control form-button" %>
<% end %>