<%= form_for(@post) do |f| %>
  <p><label for="post_title">Title:</label></p><p><%= f.text_field :title, class: "text-input" %></p>
  <p><label>Caption:</label></p><p><%= f.text_area :caption, class: "form-control", rows: 20, cols: 40 %></p>
  <p><label>Image:</label></p><p><%= f.file_field :photo %></p>
  <p><label>Collection</label></p><p><%= f.select :collection_id, options_for_select(@options_array), {}, {class: "btn"} %></p>
  <p><%= f.button :Submit, type: "submit", value: "Submit", class: "btn" %></p>
<% end %>