<!DOCTYPE html>
<html>
  <head>
    <title>Gallery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  </head>

  <body>

    <nav>
      <ul>
        <li class="title"><b><%= link_to "Payton and Heidi", root_path %></b></li>
        <li><%= link_to "Gallery", posts_all_thumbnails_path %></li>
        <li><%= link_to "Collections", collections_path %></li>
        <li><%= link_to "New Post", new_post_path %></li>
      </ul>
    </nav>

    <div class="container">

      <% if !flash[:success].nil? %>
        <div class="alert alert-success"><%= flash[:success] %></div>
      <% end %>
      <% if !flash[:danger].nil? %>
        <div class="alert alert-danger"><%= flash[:danger] %></div>
      <% end %>

      <%= yield %>

    </div>

  </body>
</html>
